*{
    padding: 0px;
    margin: 0px;
}
h1{
    float: left;
    position: relative;
    top: 60px;
    left: 80px;
}
.G{
   
    color: royalblue;
}
.o{
    color: red;
}
.o1{
    color: yellow;
}
.l{
    color:green ;
}
#maindiv{
    position: relative;
    top: 60px;
    left: 120px;
    
}
#input{
    border-radius: 50px;
    width: 70%;
    height: 50px;
    font-size: 20px;
    padding: 20px;
    background-color:white;
    
}
#subdiv{
    position: relative;
    top: 100px;
    left: 200px;
}
#input2{
    border-radius: 100px;
    width: 100px;
    height: 50px;
    position: relative;
    left: 10px;
    text-align: center;
    font-size: 15px;
    background-color: white;
}
#input2:hover{
    background-color: lightblue;
}
#input3{
    border-radius: 100px;
    width: 100px;
    height: 50px;
    position: relative;
    left: 15px;
    text-align: center;
    font-size: 15px;
    background-color: white;
}
#input3:hover{
    background-color:lightgray;
}
#input4{
    border-radius: 100px;
    width: 100px;
    height: 50px;
    position: relative;
    left: 20px;
    text-align: center;
    font-size: 15px;
    background-color: white;
}
#input4:hover{
    background-color:lightgreen;
}
#input5{
    border-radius: 100px;
    width: 100px;
    height: 50px;
    position: relative;
    left: 25px;
    text-align: center;
    font-size: 15px;
    background-color: white;

}
#input5:hover{
    background-color: lightpink;
}
#input6{
    border-radius: 100px;
    width: 100px;
    height: 50px;
    position: relative;
    left: 30px;
    text-align: center;
    font-size: 15px;
    background-color: white;

}
#input6:hover{
    background-color: lightsalmon;
}
#input7{
    border-radius: 10px;
    width: 80px;
    height: 50px;
    position: relative;
    left: 250px;
    text-align: center;
    font-size: 15px;
    background-color: white;
     border: none; 
}
#input7:hover{

background-color: lightyellow;
width: 80px;
height: 50px;

}
#sudiv2{
    width: 40px;
    height: 40px;
    background-image: url(./virat-kohli-13.png);
    background-size:40px;
    background-repeat: no-repeat;
    border-radius: 100%;
    position: relative;
    top: -130px;
    left: 1000px;
}
#chandu{
    width:200px;
    height: 200px;
    background-image: url(./kisspng-sri-venkateswara-swamy-vaari-temple-package-tour-h-2-god-clipart-garuda-for-free-download-on-ya-webd-5c77226d11a0b6.9505620815513114690722.png);
    background-size: 100%;
    background-repeat: no-repeat;
    /* border: 2px solid black; */
    background-color:black;
    position: relative;
    top: 100px;
    left: 100px;
}
#chandu:hover{
   
    background-image: url(./kisspng-tirumala-venkateswara-temple-krishna-janmashtami-s-venkateswara-png-free-download-5aa1f99400c7a9.5781301215205646280032.png);
}
#h1{
    color: white;
    position: relative;
    top: 170px;
    left: 50px;
}

    
